<%--
  Created by IntelliJ IDEA.
  User: root
  Date: 2/20/18
  Time: 8:59 AM
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <title>recieve mail</title>

</head>

<body>
<div id="main">
    <style>
        #main{
            background-color: beige;
            height: 700px;
        }
    </style>
RECIEVE YOUR MAIL BY CLICKING ON THIS LINK : <a href="https://www.gmail.com">gmail</a>
</div>
</body>
</html>